/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*.log
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/database/migrations/*_create_activity_log_table.php
/database/migrations/*_create_permission_tables.php
