@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
body {
  margin: 0;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.about {
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: all 0.2s ease;
}
.about .bg_links {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(5px);
  position: absolute;
}
.about .logo {
  width: 40px;
  height: 40px;
  z-index: 9;
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/logo_white.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 10px 7px;
  opacity: 0.9;
  transition: all 1s 0.2s ease;
  bottom: 0;
  right: 0;
}
.about .social {
  opacity: 0;
  right: 0;
  bottom: 0;
}
.about .social .icon {
  width: 100%;
  height: 100%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  display: flex;
  transition: all 0.2s ease, background-color 0.4s ease;
  opacity: 0;
  border-radius: 100%;
}
.about .social.portfolio {
  transition: all 0.8s ease;
}
.about .social.portfolio .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
}
.about .social.dribbble {
  transition: all 0.3s ease;
}
.about .social.dribbble .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
}
.about .social.linkedin {
  transition: all 0.8s ease;
}
.about .social.linkedin .icon {
  background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
}
.about:hover {
  width: 105px;
  height: 105px;
  transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .logo {
  opacity: 1;
  transition: all 0.6s ease;
}
.about:hover .social {
  opacity: 1;
}
.about:hover .social .icon {
  opacity: 0.9;
}
.about:hover .social:hover {
  background-size: 28px;
}
.about:hover .social:hover .icon {
  background-size: 65%;
  opacity: 1;
}
.about:hover .social.portfolio {
  right: 0;
  bottom: calc(100% - 40px);
  transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.portfolio .icon:hover {
  background-color: #698fb7;
}
.about:hover .social.dribbble {
  bottom: 45%;
  right: 45%;
  transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.dribbble .icon:hover {
  background-color: #ea4c89;
}
.about:hover .social.linkedin {
  bottom: 0;
  right: calc(100% - 40px);
  transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}
.about:hover .social.linkedin .icon:hover {
  background-color: #0077b5;
}

#wrapper {
  margin: 5%;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Accordion Container */
.container {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  position: relative;
}

/* shadow */
.container:before {
  content: '';
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  margin: 0;
  left: 15px;
  background-color: transparent;
  top: 0px;
  box-shadow: 0px 20px 40px #52616b;
  opacity: 0.2;
  z-index: -1;
  transition: ease-in-out 0.6s all;
}

.container:hover.container:before {
  box-shadow: 0px 40px 90px #52616b;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 3px;
}

.accordionTitle {
  padding: 20px;
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #52616b;
  transition: ease-in-out 0.2s all;
  cursor: pointer;
}

.accordionTitle:hover {
  padding-left: 25px;
}

/* Accordion Item line */
.accordionTitle:before,
.accordionTitle:after {
  content: '';
  position: absolute;
  height: 2px;
  border-radius: 50px;
  transition: ease-in-out 0.6s all;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordionTitle:before {
  width: 100%;
  background-color: #c9d6df;
}

.accordionTitle:after {
  background-image: linear-gradient(90deg, #52616b, #c9d6df);
  width: 0%;
}

.accordionTitle:hover::after {
  width: 100%;
}

/* Accordion Item line - Active */
.accordionTitleActive:after {
  content: '';
  position: absolute;
  height: 2px;
  border-radius: 50px;
  transition: ease-in-out 0.6s all;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordionTitleActive:after {
  background-image: linear-gradient(90deg, #52616b, #c9d6df);
  width: 100%;
}

/* Accordion Item Icon  */
.accIcon {
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  margin-top: -3px;
  align-items: center;
  justify-content: center;
}

.accIcon:before,
.accIcon:after {
  content: '';
  position: absolute;
  border-radius: 50px;
  background-color: #c9d6df;
  transition: ease 0.3s all;
}

.accIcon:before {
  width: 2px;
  height: 20px;
}

.accIcon:after {
  width: 20px;
  height: 2px;
}

.accordionTitle:hover .accIcon:before,
.accordionTitle:hover .accIcon:after {
  background-color: #52616b;
}

.accIcon.anime.accIcon:before {
  transform: rotate(90deg);
}

/* Text Content */
.accordion .item .text {
  opacity: 0;
  height: 0;
  padding: 0px 20px;
  position: relative;
  line-height: 24px;
  font-size: 16px;
  font-weight: 200;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  overflow: hidden;
  background-color: #f0f5f9;
  letter-spacing: 0.5px;
}

/* Text Content - Class for JS to hide and show */
.accordion .item .text.show {
  opacity: 1;
  height: auto;
  padding: 25px 20px;
  position: relative;
  z-index: 0;
  border-radius: 0px 0px 3px 3px;
}
