       /* Steps Counter */
       .stepper-div {
        width: 740px;
        margin: 5em auto;
        max-width: 100%;
      }

      .stepper {
        list-style: none;
        position: relative;
        margin: 3em auto;
      }

      .stepper, .stepper > li {
        background: #fff;
        margin: 0;
        padding: 0;
        box-shadow: 0 0 0 1px #ccc;
      }

      .stepper, .stepper:before, .stepper:after  {
        width: 100%;
        border-radius: 1em;
        display: block;
        height: 1em;
        background: #fff;
      }

      .stepper:before, .stepper:after {
        content: '';
        z-index: 2;
        position: absolute;
        border: none;
      }

      .stepper:after {
        background: #eb144c;
        border: .25em solid #fff;
        height: 1em;
        border-radius: 1em 0 0 1em;
      }

      .stepper > li {
        width: 1.5em;
        height: 1.5em;
        border-radius: 100%;
        position: absolute;
        top: -.25em;
        left: 50%;
        margin-left: -.75em;
        font-size: initial;
      }

      .stepper > li:first-child {
        left: 15%;
      }

      .stepper > li:last-child {
        left: 85%;
      }

      .stepper span {
        position: absolute;
        top: -2em;
        width: 10em;
        left: -4.25em;
        text-align: center;
        display: block;
        color: #c8c8c8;
        font-family: 'Arial';
        font-size: initial;
      }

      .stepper span:before {
          content: '';
          background: #eb144c;
          position: absolute;
          border-radius: 100%;
          height: 1em;
          width: 1em;
          z-index: 3;
          left: 4.5em;
          top: 2.25em;
          border: .25em solid #eb144c;
      }

      .step1 .stepper li:nth-child(n+2) span:before, .step2 .stepper li:last-child span:before, .step1paypal_return .stepper li:last-child span:before {
        display: none;
      }

      .step1 .stepper li:first-child span, .step2 .stepper li:nth-child(2) span, .step1paypal_return .stepper li:nth-child(2) span, .step3 .stepper li:last-child span {
        color: #eb144c;
        font-weight: bold;
      }

      .step1 .stepper li:first-child span:before, .step2 .stepper li:nth-child(2) span:before, .step1paypal_return .stepper li:nth-child(2) span:before, .step3 .stepper li:last-child span:before {
        background: #fff;
      }

      .step1 .stepper:after {
        width: 15%;
        -webkit-animation: step1ulafter 1s; /* Safari 4+ */
        -moz-animation:    step1ulafter 1s; /* Fx 5+ */
        -o-animation:      step1ulafter 1s; /* Opera 12+ */
        animation:         step1ulafter 1s; /* IE 10+, Fx 29+ */
      }

      .step2 .stepper:after, .step1paypal_return .stepper:after {
        width: 50%;
        -webkit-animation: step2ulafter 1.5s; /* Safari 4+ */
        -moz-animation:    step2ulafter 1.5s; /* Fx 5+ */
        -o-animation:      step2ulafter 1.5s; /* Opera 12+ */
        animation:         step2ulafter 1.5s; /* IE 10+, Fx 29+ */
      }

      .step3 .stepper:after {
        width: 85%;
        -webkit-animation: step3ulafter 2.5s; /* Safari 4+ */
        -moz-animation:    step3ulafter 2.5s; /* Fx 5+ */
        -o-animation:      step3ulafter 2.5s; /* Opera 12+ */
        animation:         step3ulafter 2.5s; /* IE 10+, Fx 29+ */
      }

      @-webkit-keyframes step1ulafter {
          from { width: 0 }
          to   { width: 15% }
      }
      @-moz-keyframes step1ulafter {
          from { width: 0 }
          to   { width: 15% }
      }
      @-o-keyframes step1ulafter {
          from { width: 0 }
          to   { width: 15% }
      }
      @keyframes step1ulafter {
          from { width: 0 }
          to   { width: 15% }
      }

      @-webkit-keyframes step2ulafter {
          from { width: 15% }
          to   { width: 50% }
      }
      @-moz-keyframes step2ulafter {
        from { width: 15% }
          to   { width: 50% }
      }
      @-o-keyframes step2ulafter {
        from { width: 15% }
          to   { width: 50% }
      }
      @keyframes step2ulafter {
        from { width: 15% }
          to   { width: 50% }
      }

      @-webkit-keyframes step3ulafter {
          from { width: 50% }
          to   { width: 85% }
      }
      @-moz-keyframes step3ulafter {
            from { width: 50% }
          to   { width: 85% }
      }
      @-o-keyframes step3ulafter {
        from { width: 50% }
          to   { width: 85% }
      }
      @keyframes step3ulafter {
        from { width: 50% }
          to   { width: 85% }
      }

      @media (max-width: 768px) {
        .stepper {
          display: none;
        }
      }
