@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700");
/* body {
  margin: 0;
  background-color: #288CFF;
  font-family: 'Montserrat', sans-serif;
} */

.my-sec {
  margin-top: 50px;

}

#wrapper {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Accordion Container */
.my-container {
  width: 100%;
  max-width: 900px;
  min-width: 300px;
  position: relative;
}



.my-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 3px 3px 3px 3px;
}

.accordionTitle {
  padding: 20px;
  position: relative;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #52616b;
  transition: ease-in-out 0.2s all;
  cursor: pointer;
}

.accordionTitle:hover {
  padding-left: 25px;
}

/* Accordion Item line */
.accordionTitle:before,
.accordionTitle:after {
  content: '';
  position: absolute;
  height: 2px;
  border-radius: 50px;
  transition: ease-in-out 0.6s all;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordionTitle:before {
  width: 100%;
  background-color: #c9d6df;
}

.accordionTitle:after {
  background-image: linear-gradient(90deg, #52616b, #c9d6df);
  width: 0%;
}

.accordionTitle:hover::after {
  width: 100%;
}

/* Accordion Item line - Active */
.accordionTitleActive:after {
  content: '';
  position: absolute;
  height: 2px;
  border-radius: 50px;
  transition: ease-in-out 0.6s all;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordionTitleActive:after {
  background-image: linear-gradient(90deg, #52616b, #c9d6df);
  width: 100%;
}

/* Accordion Item Icon  */
.accIcon {
  float: right;
  width: 30px;
  height: 30px;
  display: flex;
  margin-top: -3px;
  align-items: center;
  justify-content: center;
}

.accIcon:before,
.accIcon:after {
  content: '';
  position: absolute;
  border-radius: 50px;
  background-color: #c9d6df;
  transition: ease 0.3s all;
}

.accIcon:before {
  width: 2px;
  height: 20px;
}

.accIcon:after {
  width: 20px;
  height: 2px;
}

.accordionTitle:hover .accIcon:before,
.accordionTitle:hover .accIcon:after {
  background-color: #52616b;
}

.accIcon.anime.accIcon:before {
  transform: rotate(90deg);
}

/* Text Content */
.accordion .item .text {
  opacity: 0;
  height: 0;
  padding: 0px 20px;
  position: relative;
  line-height: 24px;
  font-size: 16px;
  font-weight: 200;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
  overflow: hidden;
  background-color: #f0f5f9;
  letter-spacing: 0.5px;
}

/* Text Content - Class for JS to hide and show */
.accordion .item .text.show {
  opacity: 1;
  height: auto;
  padding: 25px 20px;
  position: relative;
  z-index: 0;
  border-radius: 0px 0px 3px 3px;
}
